<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Indigo Abyss" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Indigo Abyss">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="site-nav" aria-label="Primary">
      <div class="site-nav-inner">
        <div class="site-nav-top">
          <%= link_to "Indigo Abyss", root_path, class: "site-brand" %>
          <div class="site-nav-utilities">
            <%= link_to "Search", shop_path, class: utility_link_class(:shop) %>
            <%= link_to "Account", root_path, class: utility_link_class %>
            <%= link_to cart_nav_label, cart_path, class: utility_link_class(:cart) %>
          </div>
        </div>

        <div class="site-nav-menu">
          <%= link_to "New Arrivals", shop_path, class: nav_link_class(:shop) %>

          <div class="site-nav-dropdown">
            <button type="button" class="site-nav-dropdown-toggle">Designers</button>
            <div class="site-nav-panel">
              <%= link_to "Indigo Abyss", shop_path %>
              <%= link_to "Abyss Line", shop_path %>
              <%= link_to "Nocturne", shop_path %>
              <%= link_to "Railcar", shop_path %>
            </div>
          </div>

          <div class="site-nav-dropdown">
            <button type="button" class="site-nav-dropdown-toggle">Categories</button>
            <div class="site-nav-panel">
              <%= link_to "Pants", shop_path(category: "pants") %>
              <%= link_to "Shirts", shop_path(category: "shirts") %>
              <%= link_to "Jackets", shop_path(category: "jackets") %>
              <%= link_to "Accessories", shop_path(category: "accessories") %>
            </div>
          </div>

          <%= link_to "Gift Card", root_path, class: "site-nav-link" %>
          <%= link_to "Sale", shop_path, class: "site-nav-link" %>
        </div>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      <p class="flash <%= type %>"><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
